* {
    font-family: 'Source Sans 3', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --dark-strong: #202833;
    --dark-grey: #25303e;
    --dark-light: #303e52;
    --blue-light: #65f9ef;
    --color-text-default: rgb(255, 255, 255);
    --color-success: #28a745;
    --color-danger: #c82333;
    --color-warning: #ffc107;
}


.title-container {
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 25pt;
}

.text-blue-light {
    color: var(--blue-light)
}

.text-indent {
    text-indent: 50px;
}

.message-alert {
    font-size: 12pt;
    padding: 10px;
    border: 2px solid var(--color-text-default);
    width: 100%;
    border-radius: 10px;
    display: none;
    transition: all 0.3s;
}

.message-success {
    display: block;
    border: 2px solid var(--color-success);
    color: var(--color-success);
}

.message-danger {
    display: block;
    border: 2px solid var(--color-danger);
    color: var(--color-danger);
}

.message-warning {
    display: block;
    border: 2px solid var(--color-warning);
    color: var(--color-warning);
}

html {
    scroll-behavior: smooth;
}

html,
body {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-color: #7e7a7a;
}

/*


.container.fixo {
    display: inline-block;
    color: #fff;
    height: 50px;
    background-color: red;
    line-height: 50px;
    padding: 0 10px;
}*/

.container-menu {
    width: 100%;
}

.menu-fixed {
    background-color: var(--dark-strong);
    position: fixed;
    z-index: 999;
    top: 0;
}

.menu-fixed .menu-primary {
    height: 60px;
}

.menu-primary {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    height: 70px;
}

.menu-primary .icon-menu {
    background: var(--color-text-default);
    font-size: 16pt;
    padding: 10px;
    border-radius: 3px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-primary .logo {
    display: flex;
    flex: 1;
    direction: ltr;
}


.menu-primary .logo a {
    color: var(--color-text-default);
    text-decoration: none;
    font-weight: bold;
    font-size: 18pt;
}

.menu-primary nav ul {
    display: flex;
    list-style: none;
}

.menu-primary nav ul li {
    margin-left: 15px;
}

.menu-primary nav ul li a {
    font-size: 12pt;
    color: #ffffff;
    text-decoration: none;
}

.container-menu .menu-primary,
#container-home>section,
#container-error>section,
#container-home>header,
#container-about>section,
#container-projects>section,
#container-contacts>section,
footer>section {
    max-width: 1170px;
    margin: auto;
    padding: 0 20px;
}

/*******************************
        CONTAINER HOME
********************************/
#container-home,
#container-error {
    background: var(--dark-light);
    background: radial-gradient(circle, var(--dark-light) 0%, var(--dark-grey) 50%, var(--dark-strong) 100%);
    background: -moz-radial-gradient(circle, var(--dark-light) 0%, var(--dark-grey) 50%, var(--dark-strong) 100%);
    background: -webkit-radial-gradient(circle, var(--dark-light) 0%, var(--dark-grey) 50%, var(--dark-strong) 100%);
}

#container-home>section {
    display: flex;
    min-height: 70vh;
    padding-bottom: 300px;
    align-items: center;
}

#container-home .home-desc {
    max-width: 60%;
    color: var(--color-text-default);
}

#container-home .home-desc img {
    display: none;
}

#container-home .home-desc h3 {
    color: var(--blue-light);
    font-weight: normal;
    font-size: 15pt;
    text-transform: uppercase;
}

#container-home .home-desc h1 {
    color: var(--color-text-default);
    font-size: 25pt;
}

#container-home .home-desc p {
    color: var(--color-text-default);
    font-size: 12pt;
}

#container-home .home-desc .button {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 10pt;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

#container-home .home-desc .button:hover {
    border-color: var(--color-text-default);
    color: var(--color-text-default);
    scale: 1.05;
}

#container-home .image-home {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

/**
 container-about PÃGINA SOBRE
**/
#container-about {
    min-height: 100%;
    background-color: #203142;
    color: var(--color-text-default);
}

.container-img {
    width: 100%;
    height: 550px;
    background-image: url(../images/background-about.png);
    background-position: top;
    background-size: auto;
    background-repeat: repeat-x;
    margin-top: -300px;
}

#container-about::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url(../images/background-about.png);
    background-position: top;
    background-size: auto;
    background-repeat: repeat-x;
    transform: rotate(180deg);
    -ms-transform: rotate(180);
    -moz-transform: rotate(180);
    -webkit-transform: rotate(180);
}

#container-about>section {
    padding-top: 100px;
    padding-bottom: 50px;
}

#container-about section article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-about .image-user-about {
    padding: 0 50px;
    margin-bottom: 30px;
}

#container-about .image-user-about img {
    border-radius: 50%;
}

#container-about .desc-about p {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 12pt;
}

#container-about .desc-about p a {
    color: var(--color-text-default);
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
}

#container-about .desc-about p a:hover {
    text-decoration: underline;
}

#container-about .desc-about ul {
    display: flex;
    list-style: none;
}

#container-about .desc-about ul li {
    margin-right: 15px;
}

#container-about .desc-about ul li a {
    font-size: 30pt;
    text-decoration: none;
    color: var(--blue-light);
    transition: all 0.3s;
}

#container-about .desc-about ul li a:hover {
    color: var(--color-text-default)
}

/**
    #container-projects - skills e projetos
**/
#container-projects {
    margin-top: -2px;
    padding-top: 450px;
    min-height: 100vh;
    background-color: #203142;
    color: var(--color-text-default);
}

#container-projects>section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-projects>section .list-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#container-projects .list-skills .skill {
    margin: 10px 20px;
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
}

#container-projects .list-skills .skill p {
    font-size: 12pt;
    margin-bottom: 10px;
}

.skill .skill-bar,
.skill .skill-bar .skill-bar-html,
.skill .skill-bar .skill-bar-css,
.skill .skill-bar .skill-bar-js,
.skill .skill-bar .skill-bar-php,
.skill .skill-bar .skill-bar-mvc,
.skill .skill-bar .skill-bar-mysql {
    height: 10px;
    border-radius: 5px;
}

#container-projects .list-skills .skill .skill-bar {
    background-color: var(--dark-strong);
    margin-top: 20px;
    width: 100%;
}

.skill .skill-bar .skill-bar-html {
    width: 90%;
    background-color: #fc490b;
}

.skill .skill-bar .skill-bar-css {
    width: 70%;
    background-color: #2196f3;
}

.skill .skill-bar .skill-bar-js {
    width: 60%;
    background-color: #ffdf00;
}

.skill .skill-bar .skill-bar-php {
    width: 50%;
    background-color: #505c90;
}

.skill .skill-bar .skill-bar-mvc {
    width: 70%;
    background-color: #00b3a9;
}

.skill .skill-bar .skill-bar-mysql {
    width: 80%;
    background-color: #ffffff;
}

#container-projects .list-projects {
    display: flex;
    flex-direction: column;
}

#container-projects .list-projects .project {
    background-color: var(--dark-strong);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#container-projects .list-projects .project.project-left {
    border-left: 10px solid var(--blue-light);
    border-radius: 10px 0 0 10px;
}

#container-projects .list-projects .project.project-right {
    border-right: 10px solid var(--blue-light);
    border-radius: 0 10px 10px 0;
}

#container-projects .list-projects .project .project-photos {
    background: var(--dark-light);
    height: 100%;
    width: 60%;
}

#container-projects .list-projects .project .project-description {
    flex: 1;
    height: 100%;
    padding: 15px;
}

#container-projects .list-projects .project .project-description>p {
    margin-bottom: 10px;
    font-size: 12pt;
}

#container-projects .list-projects .project .project-description>ul {
    display: flex;
    list-style: none;
}

#container-projects .list-projects .project .project-description>ul>li {
    padding: 5px 8px;
    margin: 5px;
    background-color: var(--dark-light)
}

#container-projects .list-projects .project .project-description .button {
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    color: var(--color-text-default);
    border: 1px solid var(--blue-light);
    border-radius: 5px;
    transition: all 0.2s;
}

#container-projects .list-projects .project .project-description .button:hover {
    color: var(--dark-strong);
    background: var(--color-text-default);
    border: 1px solid var(--dark-strong)
}

#container-projects .list-projects .project .project-description .button:hover i {
    color: var(--dark-strong);
}

/*
container-contacts
*/

#container-contacts {
    padding-top: 1px;
    background-color: var(--dark-strong);
    color: var(--color-text-default);
    display: flex;
    flex-direction: column;
    align-content: center;
}

#container-contacts>section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-contacts p {
    text-align: center;
    margin-bottom: 30px;
}

#container-contacts .contact {
    display: flex;
    justify-content: center;
}

#container-contacts .contact .contact-form,
#container-contacts .contact .contact-list {
    justify-content: end;
}

#container-contacts .contact .group-form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

#container-contacts .contact .group-form label,
#container-contacts .contact .group-form input,
#container-contacts .contact .group-form textarea {
    border: 2px solid var(--blue-light);
    padding: 10px;
    font-size: 12pt;
}

#container-contacts .contact .group-form label {
    margin-right: 0;
    background-color: var(--blue-light);
    color: var(--dark-strong);
    border-radius: 5px 0 0 5px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-contacts .contact .group-form input {
    border-left: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-default);
    border-radius: 0 5px 5px 0;
    display: inline-block;
    margin-left: -1px;
    min-width: 400px;
    width: 100%;
}

#container-contacts .contact .group-form textarea {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-text-default);
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    resize: vertical;
}

#container-contacts .contact .group-form button {
    margin-left: 10px;
    padding: 5px 20px;
    font-size: 12pt;
    text-transform: uppercase;
    color: var(--blue-light);
    border: none;
    background-color: var(--dark-light);
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s;
}

#container-contacts .contact .group-form button:hover {
    background-color: var(--blue-light);
    color: var(--dark-light)
}

#container-contacts .contact-list {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#container-contacts .contact-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}


#container-contacts .contact-list ul li {
    margin-bottom: 15px;
}

/**
   PAGE 404 - container-error
**/
#container-error {
    min-height: 100vh;
}

#container-error>section {
    color: var(--color-text-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-error>section img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

#container-error>section h1 {
    font-size: 30pt;
    margin: 20px 0;
}

#container-error>section p {
    text-align: center;
    font-size: 12pt;
}

#container-error>section .button {
    margin-top: 20px;
    display: inline-block;
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 10pt;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

#container-error>section .button:hover {
    border-color: var(--color-text-default);
    color: var(--color-text-default);
    scale: 1.05;
}

/**
FOOTER ~ FIM
**/
footer {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--color-text-default);
    border-bottom: 5px solid var(--blue-light);
    padding-top: 20px;
    padding-bottom: 20px;
}

@media(max-width: 900px) {
    #container-projects .list-projects .project {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    #container-projects .list-projects .project .project-photos {
        width: 100%;
        border-bottom: 5px solid var(--blue-light);
    }

    #container-projects .list-projects .project.project-right,
    #container-projects .list-projects .project.project-left {
        border: none;
    }

    #container-projects .list-projects .project.project-right {
        flex-direction: column-reverse;
    }

    #container-projects .list-projects .project.project-left {
        border-radius: 10px;
    }

    #container-projects .list-projects .project .actions-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media(max-width: 768px) {
    .menu-primary .icon-menu {
        display: flex;
    }

    .menu-primary nav ul {
        width: 150px;
        border-radius: 5px;
        position: absolute;
        display: none;
        z-index: 999;
        flex-direction: column;
        right: 0;
        margin-right: 20px;
        margin-top: 2px;
        background-color: var(--color-text-default);
        transition: all 0.5s;
    }

    .menu-primary nav ul li {
        margin: 0;
    }

    .menu-primary nav ul li a {
        display: block;
        color: var(--dark-strong);
        padding: 10px 20px;
    }

    #container-home>section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #container-home .home-desc {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #container-home .home-desc p {
        text-align: center;
    }

    #container-home .image-home {
        display: none;
    }

    #container-home .home-desc img {
        display: block;
    }

    #container-about section article {
        display: flex;
        flex-direction: column;
    }

    #container-about .desc-about ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #container-contacts .contact {
        display: flex;
        flex-direction: column;
    }

    #container-contacts .contact .group-form input {
        min-width: 300px;
    }

    #container-contacts .contact .contact-list {
        display: none
    }

}

@media(max-width:450px) {
    #container-home .home-desc img {
        display: block;
        width: 90%;
    }
}